<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>我的关注</title>
    <link rel=stylesheet type=text/css href="../../static/css/video.css" th:href="@{/css/video.css}">
    <link rel="stylesheet" href="../../static/lib/semantic/dist/semantic.min.css" th:href="@{/lib/semantic/dist/semantic.min.css}">
    <link href="../../static/images/me.png" th:href="@{/images/me.png}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../../static/css/follow.css" th:href="@{/css/follow.css}">
    <link rel="stylesheet" href="../../static/css/grade.css" th:href="@{/css/grade.css}">
    <!-- 看板娘 -->
<!--    <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/all.min.css">-->
    <style>
        body {
            background-image: url("/images/bj2.png") !important;
            background-attachment:fixed;
            background-size: 100%;
            no-repeat: center top;
            font: 14px/1.5 Tahoma,Helvetica,Arial,'KaiTi',sans-serif;
            height: 100%;
            width: 100%;
        }

        .title a.selected {
            /*text-decoration: underline;*/
            color: lightgoldenrodyellow;
        }
    </style>

</head>
<body>
<div class="father">
    <div class="top">
        <img src="../../static/images/logo.jpg" th:src="@{/images/logo.jpg}" width="1000" height="120">
    </div>
    <header>
        <div class="nav">
            <div class="title">
                <a href="index.html" th:href="@{/}" class="a"><i class="mini home icon"></i>&nbsp;首页</a>
                <a href="more.html" th:href="@{/story}" class="a"><i class="mini question circle outline icon"></i>&nbsp;问答</a>
                <a href="story.html" th:href="@{/strategy}" class="a"><i class="mini book icon"></i>&nbsp;文章</a>
                <a href="picture.html" th:href="@{/pictures}" class="a"><i class="mini image outline icon"></i>&nbsp;壁纸</a>
                <a href="message.html" th:href="@{/my}" class="selected a"><i class="mini info icon"></i>我的</a>
                <a href="more.html" th:href="@{/more}" class="a2"><i class="mini comment alternate outline icon"></i>&nbsp;联系我们</a>
                <a href="message.html" th:href="@{/logout}"><i class="mini sign out alternate icon"></i>&nbsp;注销</a>
            </div>
        </div>
    </header>
    <br>
    <!-- banner代码END -->
    <div class="text01">
        <div style="display: flex; justify-content: center;font-size: 17px">
            <a href="#" style="color: #90532b" th:href="@{/my}">主页</a>&nbsp;
            <a href="#" style="color: #90532b" th:href="@{/my/story/mystory}">问答</a>&nbsp;
            <a href="#" style="color: #90532b" th:href="@{/my/pictures/mypictures}">图片</a>&nbsp;
            <a href="#" style="color: #90532b" th:href="@{/my/strategy/mystrategy}">文章</a>&nbsp;
            <a href="#" style="color: #90532b" th:href="@{/my/task}">任务</a>&nbsp;
            <a href="#" style="color: #90532b;text-decoration: underline;" th:href="@{/my/follow}">关注</a>&nbsp;
            <a href="#" style="color: #90532b" th:href="@{/my/fans}">粉丝</a>&nbsp;
            <a href="#" style="color: #90532b" th:href="@{/my/comment/info}">回复</a>&nbsp;
            <a href="#" style="color: #90532b" th:href="@{/my/comment/comment}">评论</a>

        </div>
        <br>
        <h4 style="color: #0ea432;font-size: 17px;font-family: KaiTi">关注的人</h4>
        <div>
            <div class="ui center aligned attached segment m-rgba zt zt-max">
                <div class="follow-list">
                    <ul th:each="user :${userList}">
                        <li>
                            <div class="userAvatar">
                                <img th:src="@{${user.avatar}}" src="../../static/images/me.jpg" alt="用户头像">
                            </div>
                            <div class="info">
                                <a target="_blank" href="#" th:href="@{/user/{id}(id=${user.follow.followUserId})}" th:text="${user.nickName}">昵称</a><!--
                                --><h5 th:class="'level level-' + ${user.userTask.grade}" th:text="${'Lv' + user.userTask.grade}" style="margin-left: 0px; display: inline-block;">Lv4</h5>
                                &nbsp;&nbsp;&nbsp;
                                <br>
                                <span th:text="${user.signature}">签名：掵運崾伱晟苌の埘堠，總哙侒排①些讓伱卟順吢の亽彧亊刺激伱。</span>
                            </div>
                        </li>
                        <hr align="center" width="100%" color="#F0F0F0" size="2">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <table width="100%" border="0">
            <br>
            <tr>
                <td height="29" align="center" style="font-family: KaiTi">版权所有：Qeem</td>
            </tr>
            <tr>
                <td align="center">
                    <a rel="nofollow" href="http://beian.miit.gov.cn" style="font-family: KaiTi">桂ICP备2022011074号-2</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- 看板娘 -->
<!--<script src="../static/live2d-widget/autoload.js" th:src="@{/live2d-widget/autoload.js}"></script>-->
<script>
</script>
</body>
</html>
