@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0; 
}    /* 通配符 删除浏览器默认值 */ 
ul {
	list-style:none;   /* 取消项目符号样式 */ 
}
.banner { /* 此段banner图选择器设置宽度、高度，定位方式为相对定位，并设置DIV布局居中 */
	width: 1000px;
	/*height: 300px;*/
	position: relative; /* 定位方式设置 */
	margin-right: auto;
	margin-left: auto;
	margin-top: 1px;
	z-index: 1;
} 
.list { /* list盒子在banner内部，banner盒子已经设定了宽度和高度，因此将塔设置为宽、高100%,定位方式为相对定位 */ 
	width:100%;
	height:100%;
	position:relative;
}
.item.active {   /* 第一张轮播图属性设置 */ 
	z-index:100;   /* 上下关系，设置一个较大的值使其在上方 */ 
	opacity:1;   /* opacity为元素的可见度，在0时不可见，1则可见 */ 
}
.item {   /* 其他轮播图属性设置 */ 
	position:absolute;  /* 绝对定位 */ 
	transition:all .8s;   /* 0.8s过渡效果 */ 
	opacity:0;
}
.btn {  /* 左右箭头属性设置 */ 
	width:30px;
	height:60px;
	opacity:.5;  /* 不透明度设置 美观度提升 */ 
	border:none;   /* 不设置边框 */ 
	position:absolute;   /* 定位方式：绝对定位 */ 
	top:160px; 
	z-index:1000;
	cursor:pointer;   /* 鼠标在此处的效果为“小手”样式 */ 
	display:none;   /* 隐藏标签，下方设置鼠标滑过可见 */ 
}
.banner:hover .btn {
	display:block;   /* 鼠标滑过banner盒子时设置btn为显示 */ 
}
#right {  /* 定义右箭头 后续代码要用到 */ 
	right:0;
}
#left {  /* 定义左箭头 */ 
	left:0;
}

.pointList {   /* 设置底部小圆点所在大盒子的属性 绝对定位、距离左侧、底部的边距和层级 */ 
	position:absolute;
	left:420px;
	bottom:20px;
	z-index:999;
}
.point {  /* 设置底部单个小圆点的属性 */ 
	width:12px;
	height:12px;
	background-color:rgba(238,238,238,0.7);  /* 设置背景为浅灰色，不透明度为0.7 */ 
	border:1px solid #ffffff;  /* 1像素的白色边框 */ 
	float:left;  /* 左侧浮动排列 */ 
	margin-left:12px;   /* 每个盒子距离左侧12像素 */ 
	border-radius:100%;  /* 变成圆形的 */ 
	cursor:pointer;   /* 鼠标在此处的效果为“小手”样式 */ 
}
.point.active {
	background-color:white;   /* 鼠标滑过时变成白色 */ 
}
