body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    flex-basis: 25%;
}
.avatar img {
    width: 120px;
    border-radius: 50%;
}
.details {
    flex-basis: 70%;
}
h2 {
    color: #333;
    margin-top: 0;
}
p {
    line-height: 1.5;
    color: #666;
}
