body {
    background-color: #ededed;
    margin-left: 0px;
    margin-top: 0px;
}
.father {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFF;
}
.top {
    height: 120px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.nav {
    background-color: #907466;
    height: 40px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.nav .title {
    height: 40px;
    width: 725px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: KaiTi;
    font-size: 15px;
    line-height: 40px;
    color: #fff;
}

.nav .title .a {
    font-family: KaiTi;
    width: 70px;
}

.nav .title .a2 {
    font-family: KaiTi;
    width: 100px;
}
.banner { /* 此段banner图选择器设置宽度、高度，定位方式为相对定位，并设置DIV布局居中 */
    width: 915px;
    height: 230px;
    position: relative; /* 定位方式设置 */
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}
.banner img:hover {
    opacity : 0.9;
}
.news {
    height: 280px;
    width: 915px;
    margin-top: 55px;
    margin-right: auto;
    margin-left: auto;
}
.news #news1 {
    line-height: 28px;
    background-color: #f0f0f0;
    height: 280px;
    width: 450px;
    float: left;
}
.news #news2 {
    line-height: 28px;
    background-color: #f0f0f0;
    height: 280px;
    width: 450px;
    float: left;
    margin-left: 15px;
}
.text01 {
    width: 915px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer {
    background-color: #907466;
    height: 88px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    color: #FFF;
    margin-top: 40px;
}
a:link {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover {
    color: #fff1e7;
    font-weight: bold;
}
a:active {
    text-decoration: none;
}
.text01 .left {
    float: left;
    height: 250px;
    width: 252px;
    background-color: #f0f0f0;
    text-align:center;
}
.text01 .left .image230 {
    height: 195px;
    width: 230px;
    margin-top: 11px;
    margin-left: 11px;
    background-color: #FFF;
}
.text01 .left .image232 {
    height: 30px;
    width: 230px;
    margin-top: 8px;
    margin-left: 11px;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
}
.text01 .main1 {
    background-color: #edf8ff;
    height: 210px;
    width: 623px;
    float: left;
    padding: 20px;
    line-height: 22px;
}
.text01 #right {
    float: left;
    height: 248px;
    width: 310px;
    border: 1px solid #eeeeee;
}

.dabiaoti {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}
body,td,th {
    font-family: "微软雅黑";
    font-size: 12px;
}
a.black:link {
    color: #000000;
    text-decoration: none;
}
a.black:visited {
    text-decoration: none;
    color: #000000;
}
a.black:hover {
    text-decoration: none;
    color: #2eabff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #2eabff;
}
.line {
    background-color: #907466;
    height: 4px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6px;
}
a.black:active {
    text-decoration: none;
}
.titlenews {
    line-height: 44px;
    background-color: #dfdfdf;
    height: 44px;
    width: 450px;
}
.news12 {
    height: 33px;
    width: 390px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0e0e0;
    margin-right: auto;
    margin-left: auto;
}
.news11 {
    height: 33px;
    width: 390px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0e0e0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

