<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head> 
<meta charset="utf-8">
<title>联系管理员</title>
  <link href="../static/images/me.png" th:href="@{/images/me.png}" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="../static/lib/semantic/dist/semantic.min.css" th:href="@{/lib/semantic/dist/semantic.min.css}">
  <link rel=stylesheet type=text/css href="../static/css/style.css" th:href="@{/css/style.css}">
  <!-- 看板娘 -->
<!--  <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/all.min.css">-->
  <style type="text/css">
    body {
      background-image: url("/images/bj2.png") !important;
      background-attachment:fixed;
      background-size: 100%;
      no-repeat: center top;
      font: 14px/1.5 Tahoma,Helvetica,Arial,'KaiTi',sans-serif;
      height: 100%;
      width: 100%;
    }

    .title a.selected {
      /*text-decoration: underline;*/
      color: lightgoldenrodyellow;
    }
  </style>
</head>
<body>
<div class="father">
<div class="top">
    <img src="../static/images/logo.jpg" th:src="@{/images/logo.jpg}" width="1000" height="120">
</div>
<header>
  <div class="nav">
    <div class="title" style="font-size: 15px">
      <a href="index.html" th:href="@{/}" class="a"><i class="mini home icon"></i>&nbsp;首页</a>
      <a href="more.html" th:href="@{/story}" class="a"><i class="mini question circle outline icon"></i>&nbsp;问答</a>
      <a href="story.html" th:href="@{/strategy}" class="a"><i class="mini book icon"></i>&nbsp;文章</a>
      <a href="picture.html" th:href="@{/pictures}" class="a"><i class="mini image outline icon"></i>&nbsp;壁纸</a>
      <a href="message.html"  th:href="@{/my}" class="a"><i class="mini info icon"></i>我的</a>
      <a href="more.html" th:href="@{/more}" class="selected a2"><i class="mini comment alternate outline icon"></i>&nbsp;联系我们</a>
      <div shiro:guest class="a">
        <a href="message.html" th:href="@{/login}"><i class="mini sign in alternate icon"></i>&nbsp;登录</a>
      </div>
      <div shiro:authenticated class="a">
        <a href="message.html" th:href="@{/logout}"><i class="mini sign out alternate icon"></i>&nbsp;注销</a>
      </div>
    </div>
  </div>
</header>

<!-- banner代码开始 -->
<div style="width: 1000px;height: 350px">
  <img src="../static/images/02.jpg" th:src="@{/images/02.jpg}" width="1000px" height="365">
</div>

<!-- banner代码END -->
<div class="text01" style="width: 1000px">
  <div class="main1" style="width: 500px">
    <span class="dabiaoti">Qeem</span><br>
  <br>
    你好，我是Qeem。如有bug，可以联系我。<br>
    企鹅邮箱地址:<a href="" style="color: #90532b">2572277647@qq.com</a><br>
    个人博客地址:<a href="http://itstarqeem.space" style="color: #90532b" target="_blank">http://itstarqeem.space</a><br>
  </div>
  <img src="../static/images/qq.jpg" style="float: right" th:src="@{/images/qq.jpg}" width="250" height="252">
  <img src="../static/images/wechat.png" style="float: right" th:src="@{/images/wechat.png}" width="250" height="252">
</div>
<div class="line"></div>
  <div class="footer">
    <table width="100%" border="0">
      <br>
      <tr>
        <td height="29" align="center" style="font-family: KaiTi">版权所有：Qeem</td>
      </tr>
      <tr>
        <td align="center">
          <a rel="nofollow" href="http://beian.miit.gov.cn" style="font-family: KaiTi">桂ICP备2022011074号-2</a>
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- 看板娘 -->
<!--<script src="../static/live2d-widget/autoload.js" th:src="@{/live2d-widget/autoload.js}"></script>-->
</body>
</html>
