<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>喔哈攻略</title>
    <link rel=stylesheet type=text/css href="../static/css/video.css" th:href="@{/css/video.css}">
    <link rel="stylesheet" href="../static/lib/semantic/dist/semantic.min.css" th:href="@{/lib/semantic/dist/semantic.min.css}">
    <link href="../static/images/me.png" th:href="@{/images/me.png}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/css/strategy.css" th:href="@{/css/strategy.css}">
    <link rel=stylesheet type=text/css href="../static/css/nav.css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" href="../static/lib/semantic/dist/semantic.min.css" th:href="@{/lib/semantic/dist/semantic.min.css}">
    <style>
    body {
    background-color: #ededed;
    margin-left: 0px;
    margin-top: 0px;
    }
    .title a.selected {
    text-decoration: underline;
    }
    </style>

</head>
<body>
<div class="father">
    <div class="top">
        <img src="../static/images/logo.jpg" th:src="@{/images/logo.jpg}" width="1000" height="120">
    </div>
    <header>
        <div class="nav">
            <div class="title">
                <a href="index.html" th:href="@{/}">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="more.html" th:href="@{/story}">喔哈广场</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="story.html" th:href="@{/strategy}" class="selected">喔哈攻略</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="picture.html" th:href="@{/pictures}">喔哈图片</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="message.html" target="_blank" th:href="@{/my}">我的喔哈</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div shiro:guest>
                    <a href="message.html" th:href="@{/login}">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div shiro:authenticated>
                    <a href="message.html" th:href="@{/logout}">注销</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <form name="search" action="#" th:action="@{/strategy}">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="title" placeholder="search...." th:value="${title}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <br>
    <!-- banner代码END -->
    <div class="text01">
        <dd class="pet-links" th:if="${userStrategy==null}" style="display: flex; flex-wrap: wrap">
            <h4 style="color: #90532b;font-family:Arial, sans-serif">分类</h4>
            <div th:each="type:${typeList}">
                <a href="#" class="" style="color: #996633" th:classappend="${type.id==currType} ? 'active'"
                   th:href="@{/strategy/{id}(id=${type.id})}" th:text="${type.name}">攻略</a>
            </div>
        </dd><br>
            <!--列表-->
            <div class="ui padded segment m-padded-tb-large m-opacity" th:each="strategy : ${page.list}">
                <div class="ui padded vertical segment m-padded-tb-large">
                    <div class="ui middle aligned mobile reversed stackable grid" >
                        <div class="eleven wide column">
                            <h3 class="ui header" ><a href="#" th:href="@{/strategy/strategydetail/{id}(id=${strategy.id})}" target="_blank" class="m-black m-title-font" th:text="${strategy.title}">标题</a></h3>
                            <div th:text="|${strategy.description}...|" style="opacity: 0.7;"></div>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/me.jpg" th:src="@{${strategy.user.avatar}}" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" th:href="@{/user/{id}(id=${strategy.user.id})}" th:text="${strategy.user.nickName}" target="_blank" class="header"  >Qeem</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span th:text="${#dates.format(strategy.updateTime,'yyyy-MM-dd HH:mm')}">2020-01-01</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span th:text="${strategy.views}">2222</span>
                                        </div>
                                        <div class="item">
                                            <i class="comment outline icon"></i> <span th:text="${strategy.commentCount}">1</span>
                                        </div>
                                        <div class="item">
                                            <i class="thumbs up outline icon"></i><span th:text="${strategy.liked}">1</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${strategy.type.name}">好文</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" th:href="@{/strategy/strategydetail/{id}(id=${strategy.id})}" target="_blank">
                                <img src="../static/images/blog.jpg" th:src="@{${strategy.firstPicture}}" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!--分页-->
    <div class="pagination" th:if="${userStrategy==null}">
        <a class="prev" style="color: #90532b" th:href="@{/strategy/{currType}(pageNum=${page.prePage},currType=${currType})}"
           th:if="${page.hasPreviousPage}">上一页</a>
        <a class="next" style="color: #90532b" th:href="@{/strategy/{currType}(pageNum=${page.nextPage},currType=${currType})}"
           th:if="${page.hasNextPage}">下一页</a>
    </div>
    <!-- 查询用户的攻略 -->
    <div class="pagination" th:if="${userStrategy!=null}">
        <a class="prev" style="color: #90532b" th:href="@{/strategy/user/{currUser}(pageNum=${page.prePage},currUser=${userId})}"
           th:if="${page.hasPreviousPage}">上一页</a>
        <a class="next" style="color: #90532b" th:href="@{/strategy/user/{currUser}(pageNum=${page.nextPage},currUser=${userId})}"
           th:if="${page.hasNextPage}">下一页</a>
    </div>
    <div class="footer">
        <table width="100%" border="0">
            <tr>
                <td height="25" align="center">版权声明 | 联系方法 | 刊登广告 | 关于我们 | 服务条款</td>
            </tr>
            <tr>
                <td height="29" align="center">版权所有：Qeem</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
