<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starQeem.woha.mapper.userMapper">
    <resultMap id="BaseResultMap" type="com.starQeem.woha.pojo.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="hobby" column="hobby" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="signature" column="signature" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <association property="userTask" javaType="com.starQeem.woha.pojo.UserTask">
            <id property="id" column="user_task_id"/>
            <result property="grade" column="user_task_grade"/>
        </association>
        <association property="follow" javaType="com.starQeem.woha.pojo.Follow">
            <id property="id" column="follow_id"/>
            <result property="userId" column="follow_user_id"/>
            <result property="followUserId" column="follow_follow_user_id"/>
        </association>
    </resultMap>
    <select id="getUserWithGrade" resultMap="BaseResultMap">
        select u.id,u.sex,u.signature,u.nick_name,u.hobby,u.email,u.avatar,
               u_d.grade user_task_grade
        from user_task u_d
        join user u on u_d.user_id = u.id
        where u.id = #{id};
    </select>
    <select id="getFollowUser" resultMap="BaseResultMap">
        select u.id,u.signature,u.nick_name,u.avatar,
               u_d.grade user_task_grade,
               f.follow_user_id follow_follow_user_id
        from follow f
        join user u on f.follow_user_id = u.id
        join user_task u_d on u_d.user_id = u.id
        where f.user_id = #{userId};
    </select>
    <select id="getFansUser" resultMap="BaseResultMap">
        select u.id,u.signature,u.nick_name,u.avatar,
               u_d.grade user_task_grade,
               f.user_id follow_user_id
        from follow f
        join user u on f.user_id = u.id
        join user_task u_d on u_d.user_id = u.id
        where f.follow_user_id = #{userId};
    </select>
    <select id="getUserList" resultMap="BaseResultMap">
        select id,nick_name,avatar,username,status
        from user
        where (nick_name like concat('%',#{nickName},'%'))
    </select>
</mapper>
